<div .class="dynamic" id="chat">
<div id="scrollbar2">
    <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
        <div class="viewport">
            <div class="overview">
                  <table>

                  <% @chats.each do |c| %>
                    <% if current_user.uid.to_s == c["author_id"].to_s %>
                    <tr id="you">
                       <td>You:<%= c["body"] %></td>
                    </tr>
                    <% else %>
                    <tr id="friend">
                       <td>Friend:<%= c["body"] %></td>
                    </tr>
                    <% end %>
                  <% end %>
                  </table>
            </div>
        </div>
</div>
</div>

<script>


$(document).ready(function(){

     $('#scrollbar2').tinyscrollbar();
     $('#scrollbar2').tinyscrollbar_update('bottom');
 
 

});



</script>