<h1>Showing Friends</h1>

<div id="friends">
<table>
  <tr>
    <th>Name</th>
  </tr>

<% @friends.each do |friend| %>
  
  <tr id=<%= friend["id"] %>>
    <td><%= friend["name"] %></td>
  </tr>
<% end %>
</table>
</div>

<div id="chatview">
</div>



<%= link_to 'New Message', new_message_path %>

<script>


$(document).ready(function(){

  $('tr').click(function () {
    $(this).find('td').effect("highlight", {});
    var ID = this.id;
    $.ajax({
        type: 'GET',
        url: '/messages/chatview/'+ ID,
       });
        
    });

});



</script>
